*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(60%, #0d0116), color-stop(120%, #17022a));
  background: linear-gradient(to right, #000, #0d0116 60%, #17022a 120%);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  z-index: 9999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header a {
  text-decoration: none;
}

header a h1 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-list li {
  list-style: none;
  margin-right: 100px;
}

header .nav-list li .nav-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
}

header .nav-list li a::before,
header .nav-list a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  left: 0;
  border-radius: 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .nav-list li a::before {
  bottom: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .nav-list li a::after {
  top: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

header .nav-list li a:hover::after,
header .nav-list li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 100%;
}

header .nav-list li .active::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 4px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .nav-list li:last-child {
  margin-right: 0px;
}

header .logo {
  opacity: 0.24;
  font-weight: bold;
  font-size: 45px;
}

header .logo span {
  color: #fff;
}

.mobile {
  display: none;
  width: 100%;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  z-index: 9999;
}

.mobile .mobile {
  width: 100%;
}

.mobile .mobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile .mobile ul li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobile .mobile ul li a:hover {
  color: #dddddd;
}

.mobile .nav-list-mobile li {
  list-style: none;
}

.mobile .nav-list-mobile li .nav-link-mobile {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
}

.mobile .nav-list-mobile li .active::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 4px;
}

.scrolled {
  /*header*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(26, 26, 26, 0.65);
}

main {
  padding: 0 40px;
}

section {
  min-height: 100vh;
}

#sec1 {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
}

#sec1 .pointer {
  margin-top: auto;
  margin-bottom: 28px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: jump 0.8s infinite;
          animation: jump 0.8s infinite;
}

#sec1 .pointer span {
  color: #fff;
  font-size: 4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#sec1 .info {
  margin: 190px 0 0 150px;
  position: relative;
}

#sec1 .info h1 {
  color: #fff;
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 22px;
  letter-spacing: 4px;
}

#sec1 .info p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
}

#sec1 .info button {
  margin-top: 22px;
  background: -webkit-gradient(linear, right top, left top, from(#000), color-stop(30%, #0d0116), color-stop(80%, #17022a));
  background: linear-gradient(to left, #000, #0d0116 30%, #17022a 80%);
  border: 2px solid white;
  border-radius: 45px;
  padding: 12px 32px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  position: relative;
  outline: none;
}

#sec1 .info button::before,
#sec1 .info button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 12px;
  background: black;
  -webkit-transform: skewX(-50deg);
          transform: skewX(-50deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#sec1 .info button::before {
  top: -2px;
  left: 16%;
}

#sec1 .info button::after {
  bottom: -2px;
  right: 16%;
}

#sec1 .info button:hover::before {
  left: 74%;
}

#sec1 .info button:hover::after {
  right: 74%;
}

#sec1 .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -28px;
  background: #fff;
  width: 9px;
  height: 130px;
  border-radius: 20px;
}

#sec2 {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

#sec2 .sec-title h2 {
  color: #fff;
  font-size: 2rem;
}

#sec2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#sec2 .content .project {
  width: 280px;
  height: 200px;
  background: #fff;
  margin: 30px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

#sec2 .content .p-2 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#sec2 .content .p-2:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

#sec2 .content .p-1,
#sec2 .p-3 {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#sec2 .content .p-1:hover,
#sec2 .p-3:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}

/*MEDIA SCREEN / PHONE*/
@media screen and (max-width: 810px) {
  header {
    display: none;
  }
  #mobile-header {
    display: inherit;
  }
  #mobile-header h1 {
    font-size: 24px;
  }
  #mobile-header .logo {
    font-size: 22px;
  }
  #mobile-header .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #mobile-header .nav {
    display: none;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile .mobile ul li a {
    font-size: 16px;
  }
  #sec1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #sec1 .info {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #sec1 button {
    width: 180px;
  }
  #sec2 .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 460px) {
  #sec1 .info::before {
    height: 144px;
  }
}

@media screen and (max-width: 428px) {
  .mobile .mobile ul li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 340px) {
  #mobile-header h1 {
    font-size: 22px;
  }
  #mobile-header .logo {
    font-size: 20px;
  }
  #sec1 .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #sec1 .info::before {
    height: 144px;
  }
  #sec1 button {
    width: 180px;
  }
}

@media screen and (max-width: 332px) {
  #sec1 .info::before {
    height: 198px;
  }
}

@-webkit-keyframes jump {
  0%,
  100% {
    margin-bottom: 28px;
  }
  50% {
    margin-bottom: 38px;
  }
}

@keyframes jump {
  0%,
  100% {
    margin-bottom: 28px;
  }
  50% {
    margin-bottom: 38px;
  }
}
/*# sourceMappingURL=style.css.map */